{% extends 'base.html.twig' %}

{% block title %}NTSS{% endblock %}

{% block stylesheets%}
    {{ parent() }}
    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/creative.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('css/creative.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
{% endblock %}


{% block pre_javascripts %}
    {{ parent() }}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}



{% block body %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll hidden-md hidden-lg visible-xs-* visible-sm-*" href="#page-top">NTSS</a>
                <a class="navbar-brand page-scroll hidden-xs hidden-sm visible-md-* visible-lg-*" href="#page-top">North Texas Sleep Solutions</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#sleep">Sleep Apnea</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#selfcheck">Check yourself</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About Us</a>
                    </li>
                    <li>
                        <a class="next-page" href="{{ path('more') }}">More Info</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner header-custom">
                <h1 id="homeHeading">Welcome to<br>North Texas Sleep Solutions</h1>
                {#<hr>#}
                <h2>Tired of the Snoring?</h2>
                <h5>Solutions for a better Quality of Life</h5>
                <h2>Call us today<br><a class="phone phone-white" href="tel:817-431-6764"><i class="fa fa-phone sr-icons"></i> 817-431-6764</a></h2>

                {#<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fbluestonedentaltx%2F&width=63&layout=button&action=like&size=large&show_faces=true&share=false&height=65&appId" width="63" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>#}

            </div>
            <a style="margin-top:40px;" href="#sleep" class="btn btn-primary btn-xl page-scroll">Find Out More about Sleep Apnea</a>
        </div>
    </header>


    <section class="bg-primary" id="sleep">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1 class="section-heading"><strong>Your Problem</strong></h1>
                    <hr class="light">

                    <div class="text-left">

                        <p>At least 40 million Americans suffer from chronic, long term sleep disorders each year.
                           The majority of these disorders can result in sleep deprivation which interferes with work,
                           driving, and school activites.
                        </p>

                        <h3 class="section-heading">Signs of Sleep Apnea include</h3>
                        <hr class="light">
                        <ul class="text-left">
                            <li>Loud snoring that may be associated with breathing pauses or gasping for breath</li>
                            <li>Excessive sleepiness when awake or unintended episodes of falling asleep</li>
                            <li>Continuing to feel tired or fatiuged no matter how long you sleep</li>
                        </ul>
                        <p>Untreated sleep disorders are directly linked to many chronic diseases, including obesity,
                           hypertension, diabetes, impotence, arrhythmia, and stroke.
                        </p>

                    </div>
                    <a href="#selfcheck" class="page-scroll btn btn-default btn-xl sr-button" style="margin-top:40px;">Take self check</a>
                </div>
            </div>
        </div>
    </section>


    <section id="selfcheck">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1 class="section-heading"><strong>Quick Self Check</strong></h1>

                    <div class="text-left">
                        <h2 class="section-heading">Are you struggling to Breathe when you are sleeping?</h2>
                        <hr class="light">


                        <h3 class="section-heading">Even if you don't THINK you have a problem, take this quick self check</h3>

                        <ul class="text-left">
                            <li>Do you SNORE?</li>
                            <li>Are you TIRED during the day?</li>
                            <li>Has anyone seen you CHOKING or GASPING when you sleep?</li>
                            <li>Have you been told you have HIGH BLOOD PRESSURE?</li>
                            <li>Do you have ACID REFLUX?</li>
                            <li>Do you have DIABETES</li>
                        </ul>

                        <p>If you answered YES to more than TWO of the questions give us a call to inquire about home sleep testing.
                        </p>
                        </div>
                    <h2>Call us today<br><a class="phone phone-black" href="tel:817-431-6764"><i class="fa fa-phone sr-icons"></i> 817-431-6764</a></h2>
                    <a href="#services" class="page-scroll btn btn-primary btn-xl sr-button" style="margin-top:40px;">Check out our Services</a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Services</h2>
                    <hr class="light">
                    <p>We have no bias towards a specific treatment.</p>
                    <p>We guide you to the approriate treatment
                       recommended by the <br> American Academy of Sleep Medicine and fits into your life style.
                    </p>
                    <p>Our office works with the majority of medical insurances, including <strong>Medicare</strong>.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="margin: auto;">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        {#<i class="fa fa-4x fa-diamond tesxt-primary sr-icons"></i>#}
                        <h3>CPAP</h3>
                        <div class="text-left">
                        <p>Continuous positive airway pressure therapy (CPAP ) uses a machine to help a person who has
                            obstructive sleep apnea (OSA) breathe more easily during sleep. A CPAP machine increases
                            air pressure in your throat so that your airway doesn't collapse when you breathe in.</p>
                            </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        {#<i class="fa fa-4x fa-paper-plane tsext-primary sr-icons"></i>#}
                        <h3>Surgery</h3>
                        <div class="text-left">
                        <p>It involves removing and repositioning excess tissue in the throat to make the airway wider.
                            The surgeon can trim down your soft palate and uvula, remove your tonsils, and reposition
                            some of the muscles of the soft palate. UPPP and other soft palate procedures are the most
                            common type of surgery for sleep apne</p>
                            </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        {#<i class="fa fa-4x fa-newspaper-o tsext-primary sr-icons"></i>#}
                        <h3>Oral Appliance Therapy</h3>
                        <div class="text-left">
                        <p >Also called Jaw Advancing Device (JAD) or Mandibular Advancement Device (MAD), these
                            sleep apnea mouth pieces are custom made by dentists using a plastic-like mold to form
                            to the specific shape of the patients teeth and mouth. Not only do they work against sleep
                            apnea, they are also effective to stop snoring.</p>
                            </div>

                    </div>
                </div>

                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#contact" class="page-scroll btn btn-default btn-xl sr-button" style="margin-top:40px;">Contact Us</a>
                </div>
            </div>

        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">

                    <h2 class="section-heading">Contact Us</h2>
                    <hr class="dark">

                    <h1 class="section-heading">We're here for you!</h1>
                    <h2><strong>North Texas Sleep Solutions</strong><br>Dr. Rebecca Lauck</h2>
                    <hr class="dark">
                    <h4>1675 Keller Parkway<br>Suite 100<br>Keller, Texas 76248</h4>

                    <div class="col-lg-4 csol-lg-offset-1 text-center">
                        <i class="fa fa-3x  fa-phone sr-icons"></i>
                        <h4 style="margin-top:6px;"><a style="color:#333;" class="phone" href="tel:817-431-6764"> 817-431-6764</a></h4>
                    </div>
                    <div class="col-lg-4 text-center">
                        <i class="fa fa-3x fa-envelope-o sr-icons"></i>
                        <h4 style="margin-top:6px;"><a style="color:#333;" class="phone" href="mailto:ntxsleepsolutions@gmail.com">ntxsleepsolutions@gmail.com</a></h4>
                    </div>
                    <div class="col-lg-4 text-center">
                        <a  class="phone" href="https://www.facebook.com/bluestonedentaltx/">
                            <i class="fa fa-3x fa-facebook sr-icons" style="color:#3B5998;"></i>
                            <h4 style="margin-top:6px; color:#333;">Connect with Us</h4>
                        </a>
                    </div>

                    <div class="col-lg-12 well" style="height: 300px; background-color: rgba(22, 102, 161, 0.7);">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3348.6139696127607!2d-97.21530488424372!3d32.934795980924655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864dd6e645f479d5%3A0x3ac8250fcb25fdb8!2s1675+Keller+Pkwy+%23100%2C+Keller%2C+TX+76248!5e0!3m2!1sen!2sus!4v1483138439774"
                            width="100%" height="100%" frameborder="0" style="border:0"></iframe>
                    </div>

                    <a style="margin-top:40px;" href="#about" class="page-scroll btn btn-primary btn-xl sr-button">About Us</a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1 class="section-heading"><strong>About Us</strong></h1>
                    <hr class="light">
                    <h2 class="section-heading">Meet Dr. Rebecca Lauck</h2>

                    <img src="img/portfolio/lauck.jpg" class="img-responsive img-round-50" alt="Responsive image">

                    <hr class="light">
                    <div class="text-left">
                    <p>After earning her Doctorate in Dental Surgery at Baylor College of Dentistry in Dallas, Dr. Lauck
                       has completed over 2,500 hours of continued education and since 2001 has focused her studies on
                        TMJ and Sleep Apnea treatments.
                    </p>
                    <p>She holds 2 diplomate degrees in Sleep Apnea Treatment, in addition to being a Medicare provider
                        for Sleep Apnea.  She has experience in different appliance designs that fit every individual case.
                    </p>
                    <p>For your treatment, she uses only FDA approved appliances that are made in top labs in the country.
                        Her practice, North Texas Sleep Solutions, is dedicated to treating patients with Obstructive
                        Sleep Apnea and snoring.
                    </p>
                        </div>
                </div>
                <div class="col-lg-5 col-lg-offset-1 text-center">
                    <i class="fa fa-3x  fa-phone sr-icons"></i>
                    <h4 style="margin-top:6px;"><a class="phone phone-white" href="tel:817-431-6764"> 817-431-6764</a></h4>
                </div>
                <div class="col-lg-5 text-center">
                    <i class="fa fa-3x fa-envelope-o sr-icons"></i>
                    <h4 style="margin-top:6px;"><a class="phone phone-white" href="mailto:ntxsleepsolutions@gmail.com">ntxsleepsolutions@gmail.com</a></h4>
                </div>
            </div>
        </div>
    </section>


    {#<!-- Help Modal -->#}
    {#<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">#}
        {#<div class="modal-dialog" role="document">#}
            {#<div class="modal-content">#}
                {#<div class="modal-header" style="border-bottom: 1px solid #789FCA;">#}
                    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                    {#<h4 class="modal-title" id="myModalLabel">What is Sleep Apnea?</h4>#}
                {#</div>#}
                {#<div class="modal-body">#}
                    {#Sleep apnea (AP-ne-ah) is a common disorder in which you have one or more pauses in breathing or shallow breaths while you sleep.#}
                    {#<br><br>#}
                    {#Breathing pauses can last from a few seconds to minutes. They may occur 30 times or more an hour. Typically, normal breathing then starts again, sometimes with a loud snort or choking sound.#}
                    {#<br><br>#}
                    {#Sleep apnea usually is a chronic (ongoing) condition that disrupts your sleep. When your breathing pauses or becomes shallow, you’ll often move out of deep sleep and into light sleep.#}
                    {#<br><br>#}
                    {#As a result, the quality of your sleep is poor, which makes you tired during the day. Sleep apnea is a leading cause of excessive daytime sleepiness.#}
                {#</div>#}
                {#<div class="modal-footer">#}
                    {#<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    {#<!-- New Patients Modal -->#}
    {#<div class="modal fade" id="modalPatients" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">#}
        {#<div class="modal-dialog" role="document">#}
            {#<div class="modal-content">#}
                {#<div class="modal-header" style="border-bottom: 1px solid #789FCA;">#}
                    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                    {#<h4 class="modal-title" id="myModalLabel">New Patients</h4>#}
                {#</div>#}
                {#<div class="modal-body">#}
                    {#Currently accepting new patients#}
                    {#<br><br>#}
                    {#Our office works with the majority of medical insurances, including Medicare.#}

                {#</div>#}
                {#<div class="modal-footer">#}
                    {#<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}


{% endblock %}




{% block post_javascripts %}
    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="{{ asset('js/creative.min.js') }}"></script>

{% endblock %}